<h1 style="text-align:center;"> Anagram Results </h1>

<p style="text-align:center;">Here are your results....</p>

  
<% @anagrams.each do |anagram| %>
<p style = "text-align:center; color:pink;"> <%= anagram.word %> </p>
<% end %>

<!-- <img src="http://i.cdn.turner.com/si/multimedia/photo_gallery/1002/rare.tyson.photos/images/mike-tyson(3).jpg> -->
